/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
img{
  height: 200px;
}

#savageSays{
  display: grid;
  grid-template-columns: 1fr 1fr;
}