/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header, footer, section {
  border: 1px solid black;
}


header, footer{
  height: 100px;
  width: 100%;
}

body > section {
  border: none;
}

header + section > section{
  height: 200px;
  width: 33.333%;
  float: left;
}

section  section {
  height: 200px;
  width: 50%;
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
