*{
    box-sizing: border-box;
}

header, footer, section {
    border: 1px solid gray;
}

header, footer {
    width: 100%;
    height: 100px;
    clear: both;
}

.width-40 {
    width: 40%;
}

.width-20 {
    width: 20%;
}

section {
    height: 300px;
    float: left;
}