/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

section{
  width: 50%;
  margin: auto;
}

h1, h2, form{
  text-align: center;
}
button{
  display: block;
  margin: 20px auto;
}

h2{
  font-size: 30px;
  color: blue;
  font-weight: bold;
  width: 80%;
  margin: auto;
}

/* errorMessage intial layout*/
.hidden {
  display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* color changes for different days */
.classDay {
  color: blue;
}

.officeHour {
  color: green;
}

.weekend {
  color: orange;
}

.tgif {
  color: purple;
}

.noClass {
  color: palevioletred;
}

#errorMessage{
  color: red;
  margin: auto;
  text-align: center;
}