/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
*{
  text-align: center;
}
img{
  height: 200px;
}
input{
  width: 400px;
}
#help{
  cursor: pointer;
}